/* Board styling */
body{
  background-color: #37505c;

}
.starter{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  
}
.start{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
}

.btn-light{
  padding:5px 40px;
  font-size:30px;
  background-color: yellow;
  color:#37505c;
  transition: background-color 0.5s ease;
  
}
.btnXO
{
font-size: 8rem;
background-color: #ccc;
border: 2px solid #ccc;
color :#37505c; 
border-radius: 5px;
padding: 5px 60px;
margin: 40px;
}
.btnXO:hover{
  box-shadow: 0px 0px 5px 2px #ccc;
}
.selected{
  background-color:#37505c;
  color: #ccc;
}


.center {
  display: none;
  flex-direction: column;
  margin:100px 0px;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
#board {
    display: flex ;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
.restart{
    margin:20px;
  }
  /* Cell styling */
  .cell {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    border: 2px solid rgb(244, 244, 78);
    color :rgb(233, 233, 215);
    cursor: pointer;
  }
  /* Hover effect */
  .cell:hover {
    background-color:#66767d;
  }
  /* Player turn indicator */
  #turn {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .winning-cell{
    position: relative;
    background-color:#66767d;
  }
  
  .winning-cell::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: red;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1; /* make sure the line is behind the cells */
  }